#
# Lattice XO3L Starter
#

COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK JTAGPATHS;

# Main 12 MHz on-board clock generator
LOCATE COMP "clk_12m" SITE "C8";	# IN
FREQUENCY PORT "clk_12m" 12 MHz;
# LOCATE COMP "reset_n" SITE "B3";	# IN - resetN - Inverted

LOCATE COMP "clk_dbg" SITE "E9";	# OUT

# All I/O ports are tied to 3.3 V
#IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "clk_12m" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk_dbg" PULLMODE=NONE IO_TYPE=LVCMOS33 ;


SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIGURATION=EXTERNAL ;


